        </div>
        <div class="footer-padding">
            <div class="footer">
                <footer>
                    <p>Made with ❤️ from India.</p>
                </footer>
            </div>
        </div>
    </body>
</html>